<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href="/CSS/stylesheet.css" th:href="@{/CSS/stylesheet.css}" rel="stylesheet"/>
    <title>Candidates</title>
</head>

<body>
<div class="container">
    <div th:replace="fragments/navbar"></div>
    <table>
        <tr th:each="candidate : ${candidates}">
            <td th:text="${candidates.first_name}">First Name</td>
            <td th:text="${candidates.surname}">Surname</td>
            <td th:text="${candidates.email}">Email</td>
            <td th:text="${candidates.company_name}">Company Name</td>
            <td>
                <a th:href="@{/candidate/candidate-profile/{id} (id=${candidate.id})}" th:text="${candidate.first_name}"></a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>