<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your profile</title>
    <link th:href="@{/CSS/ProfilePage.css}" rel="stylesheet"/>
    <link href ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/navbar2.0"></div>
<div class="container">
    <h2 class="title">Profile Overview</h2>
    <a th:href="@{/personal/edit}" class="btn btn-dark">Update Personal Information</a>
</div>
<div class="container">
    <div class="row">
        <div class="profile-info">
            <h2 class="page-text" th:text="${candidate.first_name} + ' ' + ${candidate.surname} + ' '
            + 'from ' +  ${candidate.company_name}"/>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="applicationStatus">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-10">
                            <div class="row">
                                <div class="form-group col-md-8">
                                    <label for="NI" class="col-form-label">National Insurance Number</label>
                                    <input type="text" class="form-control" id="NI" placeholder="National Insurance Number"
                                           th:field="*{candidatePersonal.national_insurance}" disabled/>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="Ethnicity" class="col-form-label">Ethnicity</label>
                                    <input type="text" class="form-control" id="Ethnicity" placeholder="Ethnicity"
                                           th:field="*{candidatePersonal.ethnicity}" disabled/>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="Gender" class="col-form-label">Gender</label>
                                    <input type="text" class="form-control" id="Gender" placeholder="Gender"
                                           th:field="*{candidatePersonal.gender}" disabled/>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="Age" class="col-form-label">Age</label>
                                    <input type="text" class="form-control" id="Age" placeholder="Age"
                                           th:field="*{candidatePersonal.age}" disabled/>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="Sexuality" class="col-form-label">Sexuality</label>
                                    <input type="text" class="form-control" id="Sexuality" placeholder="Sexuality"
                                           th:field="*{candidatePersonal.sexuality}" disabled/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>