<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload documents</title>
    <link th:href="@{/CSS/ProfilePage.css}" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
    <link href ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="/CSS/stylesheet.css" th:href="@{/CSS/stylesheet.css}" rel="stylesheet"/>
    <link th:href="@{/CSS/DocumentPage.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/navbar2.0"></div>
<div class="container">
    <div class="Document-Header-1">
        <p class="header-text center-text">
            <span th:remove="tag">Documents For: </span>
            <span th:text="${candidate.first_name}" >Candidate</span>
        </p>
    </div>
    <div class="Document-Header-2">
            <p class="header-text">
                <span th:remove="tag">Progress: </span>
                <span>To do</span>
            </p>
            <p class="header-text">
                <span th:remove="tag">ID file status: </span>
                <span>To upload</span>
            </p>
            <p class="header-text text-right">
                <span th:remove="tag">Passport file status: </span>
                <span>To Upload</span>
            </p>
    </div>
    <div class="Document-Upload">
        <div class="file-upload">
            <p class="header-text">ID:</p>
            <form action="#" enctype="multipart/form-data" method="POST" th:action="@{/uploadID}" th:object="${idFile}">
                <input name="idFile" type="file" accept="image/jpeg" class="file-style"/>
                <button name="submit" type="submit" value="0">Submit</button>
            </form>
        </div>
        <div class="file-upload">
            <p class="header-text">Passport:</p>
            <form action="#" enctype="multipart/form-data" method="POST" th:action="@{/uploadPassport}" th:object="${passportFile}">
                <input name="passportFile" type="file" accept="image/jpeg" class="file-style"/>
                <button name="submit" type="submit" value="0">Submit</button>
            </form>
        </div>
    </div>
    <div class="Document-Status">

    </div>
</div>
</body>
</html>