<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Candidate Personal Information Form</title>
  <link href ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link href="/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/navbar2.0"></div>
<div class="container my-5">
  <h3>
    <span>Personal information for: </span>
    <small th:text="${candidate.first_name}">Subtitle</small>
  </h3>
  <div class="card">
    <div class="card-body">
      <div class="col-md-10">
        <form th:action="@{/personal/{id}/save (id=${candidatePersonalForm.c_id})}" th:object="${candidatePersonalForm}"
              method="post">
          <div class="row">

            <input type="hidden" id="id" th:field="*{id}">
            <input type="hidden" id="cid" th:field="*{c_id}">

            <div class="form-group col-md-8">
              <label for="national_insurance" class="col-form-label">National Insurance Number</label>
              <input type="text" class="form-control" id="national_insurance" placeholder="National Insurance Number"
                     th:field="*{national_insurance}"/>
              <div class="alert alert-warning" th:errors="*{national_insurance}" th:if="${#fields.hasErrors('national_insurance')}">
                National Insurance Number does not fit the required format
              </div>
            </div>
            <div class="form-group col-md-8">
              <label for="ethnicity" class="col-form-label">Ethnicity</label>
              <input type="text" class="form-control" id="ethnicity" placeholder="Ethnicity"
                     th:field="*{ethnicity}"/>
              <div class = "alert alert-warning" th:errors="*{ethnicity}" th:if="${#fields.hasErrors('ethnicity')}">
                Ethnicity outside of list
              </div>
            </div>
            <div class="form-group col-md-8">
              <label for="gender" class="col-form-label">Gender</label>
              <input type="text" class="form-control" id="gender" placeholder="Gender"
                     th:field="*{gender}"/>
              <div class = "alert alert-warning" th:errors="*{gender}" th:if="${#fields.hasErrors('gender')}">
                Gender outside of list
              </div>
            </div>
            <div class="form-group col-md-8">
              <label for="age" class="col-form-label">Age</label>
              <input type="text" class="form-control" id="age" placeholder="Age"
                     th:field="*{age}"/>
              <div class = "alert alert-warning" th:errors="*{age}" th:if="${#fields.hasErrors('age')}">
                Age outside of the range of 18 to 120
              </div>
            </div>
            <div class="form-group col-md-8">
              <label for="sexuality" class="col-form-label">Sexuality</label>
              <input type="text" class="form-control" id="sexuality" placeholder="Sexuality"
                     th:field="*{sexuality}"/>
              <div class = "alert alert-warning" th:errors="*{sexuality}" th:if="${#fields.hasErrors('sexuality')}">
                Sexuality outside of list
              </div>
            </div>

            <div class="col-md-6">
              <input type="submit" class="btn btn-primary" value=" Submit ">
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>