<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href="/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
    <title>Registration</title>
</head>

<body class="login-page">
<div>
    <div th:replace="fragments/navbar"></div>
    <main>
        <div class="login-block">
            <h1>Sign up</h1>
            <form th:action="@{/register/{id}/save (id=${registerForm.id})}" th:method="post"
                  th:object="${RegistersForm}">

                <div class="form-group">
                    <input type="hidden" id="id" th:field="*{ID}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                        <label class="label" for="first_name"></label>
                        <input type="text" class="form-control" id="first_name" placeholder="First Name"
                               th:field="*{first_name}"/>
                        <div class="alert alert-warning" th:errors="*{first_name}"
                             th:if="${#fields.hasErrors('first_name')}">
                            First Name does not fit the required format
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                        <label class="label" for="surname"></label>
                        <input type="text" class="form-control" id="surname" placeholder="Surname"
                               th:field="*{surname}"/>
                        <div class="alert alert-warning" th:errors="*{surname}"
                             th:if="${#fields.hasErrors('surname')}">
                            Surname does not fit the required format
                        </div>
                    </div>
                </div>
                <hr class="hr-xs">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope ti-email"></i></span>
                        <label class="label" for="Email"></label>
                        <input type="text" class="form-control" id="Email" placeholder="Email Address"
                               th:field="*{email}"/>
                        <div class="alert alert-warning" th:errors="*{email}"
                             th:if="${#fields.hasErrors('email')}">
                            Email does not fit the required format
                        </div>
                    </div>
                </div>
                <hr class="hr-xs">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                        <label class="label" for="password"></label>
                        <input type="password" class="form-control" id="password" placeholder="Create A Password"
                               th:field="*{password}"/>
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Sign up</button>
                <div class="login-links">
                    <p class="text-center">Already have an account? <a class="txt-brand" href="/login"><u>Login</u></a>
                    </p>
                </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>
