@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");


.how {
    align-items: center;
}

.bg {
    width: 100%;
    height: auto;
}

.sbg {
    width: 100%;
    height: auto;
}

.obg {
    width: 35%;
    height: auto;
    margin-left: 450px;
    align-items: center;
    justify-content: center;
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}

/* Change the auto fill to black background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px black inset !important;
}