<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link href ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <link href="/CSS/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet"/>

</head>

<body class="about-us">
<div>
    <div th:replace="fragments/navbar"></div>
</div>
<div class="text-container">
<h5 class="title-container-1">WHAT MAKES INITIA UNIQUE?</h5>
    <p>The big piles of paperwork and long manual processes
        are a thing of the past.<br>Smart solutions are at the
        core of all that we do at Initia. Our main goal is
        finding smart ways<br> of using technology that will help
        build a better vetting process.<br>
        <br>
        Read below to learn more about our product!</p>
</div>
<div class="product-details-1">
    <div class="card">
        <i class="fa-bars"></i>
        <h5>WORK SMARTER</h5>
        <div class="ws-info">
            <p>Automated email chasing and report generation means work gets done out of hours.</p>
        <p style="text-align: center;">
            <a class="button" href="#">Read More ></a>
        </p>
        </div>
    </div>
    <div class="card">
        <i class="fa-bars"></i>
        <h5>INCREASE
            SYNCHRONISATION</h5>
        <div class="ws-info">
            <p>Collaborative environment means you can view what your team is working on.</p>
            <p style="text-align: center;">
                <a class="button" href="#">Read More ></a>
            </p>
        </div>
    </div>
    <div class="card">
        <i class="fa-bars"></i>
        <h5>RETAIN
            TALENT</h5>
        <div class="ws-info">
            <p>Enhanced user experience means you will attract and retain your most valuable employees.</p>
            <p style="text-align: center;">
                <a class="button" href="#">Read More ></a>
            </p>
        </div>
    </div>
</div>
</body>
</html>