<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link href ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <link href="/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <div th:replace="fragments/navbar"></div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid email/password</div>
                </div>

                <div th:if="${param.logout}">
                    <div class="alert alert-success">You have been logged out.</div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Login Form</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" role="form" th:action="@{/login}" class="form-horizontal">

                            <div class="form-group mb-3">
                                <label class="control-label" for="username">Email</label>
                                <input type="text" id="username" name="username" class="form-control"
                                       placeholder="Enter email address"/>
                            </div>

                            <div class="form-group mb-3">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" id="password" name="password" class="form-control"
                                       placeholder="Enter password"/>
                            </div>

                            <div class="form-group mb-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <span> Not registered?
                                    <a th:href="@{/candidate/add}">Sign up here</a>
                                </span>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>