<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your profile</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
    <link th:href="@{/CSS/ProfilePage.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/navbar2.0"></div>
<div class="container">
    <h2 class="title">References Portal</h2>
</div>
<div class="container">
    <a th:href="@{/reference/add}">Add reference</a>
</div>
<div class="container">
    <a th:href="@{/logout}">Logout</a>
</div>
<div class="container">
    <div class="row">
        <div class="profile-info">
            <h2 class="page-text" th:text="'References for: ' +${candidate.first_name} + ' ' + ${candidate.surname}"></h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
              <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                        <th class="table-header">Referee Name</th>
                        <th class="table-header">Referee Telephone Number</th>
                        <th class="table-header">Edit</th>
                        <th class="table-header">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr th:each="reference, iterStat: ${references}">
                          <td>
                              <p th:text="${reference.referee_name}"></p>
                          </td>
                          <td>
                              <p th:text="${reference.referee_phone_number}"></p>
                          </td>
                          <td>
                              <a th:href="@{/reference/edit/{id} (id=${iterStat.index})}" class="btn btn-secondary" role="button">Edit reference</a>
                          </td>
                          <td>
                              <form th:action="@{/reference/delete/{id} (id=${iterStat.index})}" th:object="${reference}"
                                    th:method="post">
                                  <button class="btn btn-secondary" type="submit">Delete reference</button>
                              </form>
                          </td>
                      </tr>
                  </tbody>
              </table>
        </div>
    </div>
</div>
</body>
</html>